<html lang="en" data-scroll="0"><head> <meta charset="utf-8"> <meta http-equiv="Content-Security-Policy" content="
    default-src
		'self'
		https://xat.com/;
    style-src
		'self'
		https://xat.com/
		https://*.xat.com/
		https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css
		https://www.gstatic.com/
		https://fonts.googleapis.com/

		'unsafe-inline';
    connect-src
		'self'
		https://xat.com/
		https://*.xat.com/
		https://www.xatech.com/
		https://xat.wiki/
        https://*.google-analytics.com/
		https://www.googletagmanager.com/

		https://xat.me/;
    img-src
		'self'
		https://*.xat.com/
		https://xat.com/
		https://xat.wiki/
		https://*.google-analytics.com/
		https://images.weserv.nl/
		https://wsrv.nl/

		https://i.imgur.com/
		https://u.cubeupload.com/
		https://i.ibb.co/
		https://i.imgyukle.com/
		https://img.xatblog.net/
		https://xatimg.com/
		https://xatgif.com/
		https://i.ytimg.com/;
    script-src
		'self'
		https://xat.com/
		https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js
		https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js
		https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js
		https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.js
		https://www.googletagmanager.com/
        https://www.google-analytics.com/
		https://www.google.com/recaptcha/
		https://www.gstatic.com/

		https://xat.me/;
    frame-src
		'self'
		https://www.google.com/recaptcha/

		https://*.github.io/
		https://xatradio.com/
		https://facebook.com/
		https://www.facebook.com/
		https://www.youtube.com/
		https://youtube.com/
		https://*.spotify.com/
		https://spotify.com/
		https://flic.kr/
		https://flickr.com/
		https://*.flickr.com/;
    base-uri
		'self';
    object-src
		'self'
		https://xat.com/
		https://www.xat.com/
		https://www.xatech.com/;
	form-action
		'self'
		https://xat.com/;
	font-src
		'self'
		https://xat.com/
		https://fonts.gstatic.com/
	"> <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"> <meta name="description" content="Visit xatspace profile"> <meta name="format-detection" content="telephone=no"> <title>IamPhotographer xatspace </title> <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-2X4FZLX9YD&amp;l=dataLayer&amp;cx=c"></script><script type="application/json" id="xjson"> 
                                                                          	
